@charset "UTF-8";
@font-face {
  font-family: Aretha;
  font-display: swap;
  src: url("../fonts/Aretha-Bold.woff2") format("woff2"), url("../fonts/Aretha-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(50, 26, 46, 0.8);
  line-height: 1;
  font-family: "Lato";
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 95.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.breadcrumbs {
  margin-bottom: 0.9375rem;
}
@media (max-width: 104.375em) {
  .breadcrumbs {
    margin-left: 1.5625rem;
  }
}
@media (max-width: 48em) {
  .breadcrumbs {
    margin-left: 0;
  }
}
@media (max-width: 22.5em) {
  @supports (margin-bottom: clamp( 1.25rem , -10.75rem  +  60vw , 2.75rem )) {
    .breadcrumbs {
      margin-bottom: clamp( 1.25rem , -10.75rem  +  60vw , 2.75rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -10.75rem  +  60vw , 2.75rem )) {
    .breadcrumbs {
      margin-bottom: calc(1.25rem + 1.5 * (100vw - 20rem) / 2.5);
    }
  }
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  position: relative;
  font-size: 1rem;
  line-height: 1.1875;
  color: rgba(51, 26, 47, 0.5);
}
.breadcrumbs__item:not(:first-child) {
  padding-left: 1.125rem;
  margin-left: 0.5rem;
}
.breadcrumbs__item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.625rem;
  height: 0.0625rem;
  background: rgba(51, 26, 47, 0.5);
}
.breadcrumbs__link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover {
    color: #CF51CE;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@supports (padding-top: clamp( 1.875rem , 1.25rem  +  0.78125vw , 2.1875rem )) {
  .header {
    padding-top: clamp( 1.875rem , 1.25rem  +  0.78125vw , 2.1875rem );
  }
}
@supports not (padding-top: clamp( 1.875rem , 1.25rem  +  0.78125vw , 2.1875rem )) {
  .header {
    padding-top: calc(1.875rem + 0.3125 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 80em) {
  .header {
    padding-top: 2.1875rem;
  }
}
@media (max-width: 22.5em) {
  .header {
    padding-top: 0.3125rem;
  }
  @supports (padding-top: clamp( 0.3125rem , -6.0375rem  +  31.75vw , 1.10625rem )) {
    .header {
      padding-top: clamp( 0.3125rem , -6.0375rem  +  31.75vw , 1.10625rem );
    }
  }
  @supports not (padding-top: clamp( 0.3125rem , -6.0375rem  +  31.75vw , 1.10625rem )) {
    .header {
      padding-top: calc(0.3125rem + 0.79375 * (100vw - 20rem) / 2.5);
    }
  }
}
.header__container {
  height: 5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 80em) {
  .header__container {
    height: 3.875rem;
  }
}
.header__company {
  z-index: 10;
  display: flex;
  align-items: center;
  min-height: 5rem;
}
.header__info {
  max-width: 11.5625rem;
  font-size: 0.875rem;
  line-height: 1.2857142857;
  color: rgba(51, 26, 47, 0.9);
}
@media (max-width: 80em) {
  .header__info {
    font-size: 0.625rem;
    line-height: 1.4;
    max-width: 8.4375rem;
  }
}
@media (max-width: 41.875em) {
  .header__info {
    font-size: 1.5rem;
    text-align: center;
    max-width: 90%;
    margin-bottom: 0.9375rem;
  }
}
.header__user {
  display: flex;
}
.header__phone {
  display: flex;
  align-items: center;
  z-index: 10;
  margin-right: 5.6875rem;
  transition: translateY 0.3s ease 0s;
}
@supports (margin-right: clamp( 1.25rem , -4.1424050633rem  +  11.2341772152vw , 5.6875rem )) {
  .header__phone {
    margin-right: clamp( 1.25rem , -4.1424050633rem  +  11.2341772152vw , 5.6875rem );
  }
}
@supports not (margin-right: clamp( 1.25rem , -4.1424050633rem  +  11.2341772152vw , 5.6875rem )) {
  .header__phone {
    margin-right: calc(1.25rem + 4.4375 * (100vw - 48rem) / 39.5);
  }
}
@media (any-hover: hover) {
  .header__phone:hover svg {
    animation: arrow-move 0.5s;
  }
}
.header__phone svg {
  width: 1.171875rem;
  height: 1.171875rem;
}
@keyframes arrow-move {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 56.25em) {
  .header__phone svg {
    margin-top: -0.9375rem;
  }
}
.header__number {
  position: relative;
  margin-left: 0.47625rem;
  font-size: 1.5rem;
  line-height: 1.4583333333;
  color: #331A2F;
}
@supports (font-size: clamp( 1.125rem , 0.375rem  +  0.9375vw , 1.5rem )) {
  .header__number {
    font-size: clamp( 1.125rem , 0.375rem  +  0.9375vw , 1.5rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 0.375rem  +  0.9375vw , 1.5rem )) {
  .header__number {
    font-size: calc(1.125rem + 0.375 * (100vw - 80rem) / 40);
  }
}
@media (any-hover: hover) {
  .header__number::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1875rem;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    border-radius: 25%;
    transition: width 0.3s ease 0s;
  }
  .header__number:hover {
    color: #CF51CE;
  }
  .header__number:hover::before {
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .header__number {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
}
.header__login {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.6875rem 2rem;
  background: #CF51CE;
  border-radius: 0.75rem;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  z-index: 10;
}
.header__login svg {
  margin-right: 0.875rem;
  max-width: 1.4375rem;
  max-height: 1.4375rem;
  z-index: 1;
}
@media (any-hover: hover) {
  .header__login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    transform: rotate(180deg);
    transition: all 0.3s ease 0s;
  }
  .header__login:hover::before {
    width: 100%;
  }
}
@media (max-width: 80em) {
  .header__login {
    padding: 0.25rem 2rem;
  }
  .header__login svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
@media (max-width: 48em) {
  .header__login {
    padding: 0.25rem 1.25rem;
  }
}
@media (max-width: 22.5em) {
  .header__login {
    border-radius: 6px;
  }
  .header__login svg {
    max-width: 0.825625rem;
    max-height: 0.825625rem;
    margin-right: 0.5rem;
  }
}
.header__btnText {
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 1.5217391304;
  letter-spacing: 0.02em;
  color: #ffffff;
  z-index: 1;
}
@media (max-width: 80em) {
  .header__btnText {
    font-size: 1.125rem;
  }
}
@media (max-width: 48em) {
  @supports (font-size: clamp( 0.875rem , 0.5441176471rem  +  1.4705882353vw , 1.25rem )) {
    .header__btnText {
      font-size: clamp( 0.875rem , 0.5441176471rem  +  1.4705882353vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.5441176471rem  +  1.4705882353vw , 1.25rem )) {
    .header__btnText {
      font-size: calc(0.875rem + 0.375 * (100vw - 22.5rem) / 25.5);
    }
  }
}

.logo {
  position: relative;
  padding-left: 4.89625rem;
  padding-right: 1.1875rem;
  margin-right: 1.5625rem;
  border-right: 0.0625rem solid rgba(51, 26, 47, 0.5);
  min-height: 100%;
}
@media (max-width: 80em) {
  .logo {
    padding-left: 3.805rem;
    padding-right: 0.92375rem;
    margin-right: 1.214375rem;
  }
}
@media (max-width: 41.875em) {
  .logo {
    border-right: none;
    padding-right: 0;
  }
  @supports (padding-left: clamp( 2.844375rem , 1.7288104839rem  +  4.9580645161vw , 3.805rem )) {
    .logo {
      padding-left: clamp( 2.844375rem , 1.7288104839rem  +  4.9580645161vw , 3.805rem );
    }
  }
  @supports not (padding-left: clamp( 2.844375rem , 1.7288104839rem  +  4.9580645161vw , 3.805rem )) {
    .logo {
      padding-left: calc(2.844375rem + 0.960625 * (100vw - 22.5rem) / 19.375);
    }
  }
}
@media (max-width: 22.5em) {
  @supports (padding-left: clamp( 1.5625rem , -8.6925rem  +  51.275vw , 2.844375rem )) {
    .logo {
      padding-left: clamp( 1.5625rem , -8.6925rem  +  51.275vw , 2.844375rem );
    }
  }
  @supports not (padding-left: clamp( 1.5625rem , -8.6925rem  +  51.275vw , 2.844375rem )) {
    .logo {
      padding-left: calc(1.5625rem + 1.281875 * (100vw - 20rem) / 2.5);
    }
  }
}
.logo__decor {
  position: absolute;
  transform: translateY(-50%);
  top: 0;
  left: 0;
  background: linear-gradient(213.56deg, #ff00aa -24.02%, #8912de 88.53%);
  border-radius: 50%;
  width: 3.77625rem;
  height: 1.913125rem;
  overflow: hidden;
}
.logo__decor svg {
  width: 100%;
  height: 100%;
  transform: translateX(0.5225rem);
}
@media (max-width: 80em) {
  .logo__decor {
    width: 2.9375rem;
    height: 1.375rem;
  }
}
@media (max-width: 48em) {
  .logo__decor {
    width: 2.9375rem;
    height: 1.165625rem;
    transform: translateY(-100%);
  }
  .logo__decor svg {
    transform: translate(0.46rem, -0.21rem);
  }
}
@media (max-width: 22.5em) {
  .logo__decor {
    width: 2.19375rem;
    height: 1.10875rem;
    transform: translateY(0);
  }
  .logo__decor svg {
    transform: translate(0.21875rem, -0.28125rem);
  }
}
.logo__name {
  font-family: "Aretha";
  font-weight: 700;
  line-height: 1.21875;
  letter-spacing: -0.01em;
  color: #54618e;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
@supports (font-size: clamp( 1.5625rem , 0.6875rem  +  1.09375vw , 2rem )) {
  .logo__name {
    font-size: clamp( 1.5625rem , 0.6875rem  +  1.09375vw , 2rem );
  }
}
@supports not (font-size: clamp( 1.5625rem , 0.6875rem  +  1.09375vw , 2rem )) {
  .logo__name {
    font-size: calc(1.5625rem + 0.4375 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 80em) {
  .logo__name {
    font-size: inherit;
  }
}
.logo__name span {
  color: #CF51CE;
}
@media (max-width: 80em) {
  .logo__name {
    align-items: flex-start;
    line-height: 1.2;
    margin-top: -0.3125rem;
    min-height: 3.875rem;
  }
}
@media (max-width: 48em) {
  .logo__name {
    align-items: center;
    margin-top: -0.3125rem;
  }
  @supports (font-size: clamp( 1.15625rem , 0.7977941176rem  +  1.5931372549vw , 1.5625rem )) {
    .logo__name {
      font-size: clamp( 1.15625rem , 0.7977941176rem  +  1.5931372549vw , 1.5625rem );
    }
  }
  @supports not (font-size: clamp( 1.15625rem , 0.7977941176rem  +  1.5931372549vw , 1.5625rem )) {
    .logo__name {
      font-size: calc(1.15625rem + 0.40625 * (100vw - 22.5rem) / 25.5);
    }
  }
}

.menu {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 22.5em) {
  .menu {
    flex: 0 0 0;
  }
}
.menu__body {
  padding-left: 3.125rem;
  transition: left 0.3s ease 0s;
}
@media (max-width: 68.75em) {
  .menu__body {
    position: fixed;
    z-index: 9;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    padding-top: 6.875rem;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}
@media (max-width: 68.75em) {
  .menu__list {
    flex-direction: column;
    width: 100%;
  }
}
.menu__item {
  position: relative;
  display: flex;
}
@supports (margin-right: clamp( 2.5rem , 1.25rem  +  1.5625vw , 3.125rem )) {
  .menu__item:not(:last-child) {
    margin-right: clamp( 2.5rem , 1.25rem  +  1.5625vw , 3.125rem );
  }
}
@supports not (margin-right: clamp( 2.5rem , 1.25rem  +  1.5625vw , 3.125rem )) {
  .menu__item:not(:last-child) {
    margin-right: calc(2.5rem + 0.625 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 68.75em) {
  .menu__item {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.9375rem;
    width: 100%;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}
.menu__link {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.4583333333;
  color: #331A2F;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1875rem;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    border-radius: 25%;
    transition: width 0.3s ease 0s;
  }
  .menu__link:hover {
    color: #CF51CE;
  }
  .menu__link:hover::before {
    width: 100%;
  }
}
@media (max-width: 80em) {
  .menu__link {
    font-size: 1.125rem;
  }
}
@media (max-width: 68.75em) {
  .menu__link {
    font-size: 1.75rem;
  }
}
.menu__sub-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 0.1875rem;
  margin-left: 0.71875rem;
}
.menu__sub-button svg {
  width: 0.625rem;
  height: 0.625rem;
  transition: transform 0.3s ease 0s;
}
.menu__sub-button._spoller-active svg {
  transform: rotate(180deg);
}
@media (max-width: 68.75em) {
  .menu__sub-button {
    width: 1.25rem;
    height: 2.5rem;
  }
  .menu__sub-button svg {
    width: 0.9375rem;
    height: 0.9375rem;
  }
}
.menu__sub-list {
  position: absolute;
  top: 2.5rem;
  width: 18.75rem;
}
@media (min-width: 68.75625em) {
  .menu__sub-list {
    background-color: #ffffff;
  }
}
@media (max-width: 68.75em) {
  .menu__sub-list {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.menu__sub-item {
  margin-bottom: 0.625rem;
}
@media (max-width: 68.75em) {
  .menu__sub-item {
    width: 50%;
    margin: 0 auto 0.625rem;
    text-align: center;
  }
}
@media (max-width: 22.5em) {
  .menu__sub-item {
    width: 100%;
  }
}
.menu__sub-link {
  position: relative;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__sub-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1875rem;
    background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
    border-radius: 25%;
    transition: width 0.3s ease 0s;
  }
  .menu__sub-link:hover {
    color: #CF51CE;
  }
  .menu__sub-link:hover::before {
    width: 100%;
  }
}
@media (max-width: 80em) {
  .menu__sub-link {
    font-size: 1.125rem;
  }
}
@media (max-width: 68.75em) {
  .menu__sub-link {
    font-size: 1.5rem;
  }
}
.menu-open .menu__body {
  left: 0;
}
.menu-open .logo__name span {
  color: #ebebeb;
}

.icon-menu {
  display: none;
}
@media (max-width: 68.75em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 2.625rem;
    height: 1.75rem;
    cursor: pointer;
    z-index: 10;
  }
  @supports (margin-left: clamp( 1.75rem , -1.0625rem  +  12.5vw , 4.9375rem )) {
    .icon-menu {
      margin-left: clamp( 1.75rem , -1.0625rem  +  12.5vw , 4.9375rem );
    }
  }
  @supports not (margin-left: clamp( 1.75rem , -1.0625rem  +  12.5vw , 4.9375rem )) {
    .icon-menu {
      margin-left: calc(1.75rem + 3.1875 * (100vw - 22.5rem) / 25.5);
    }
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: #CF51CE;
    border-radius: 4px;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    width: 76.1904761905%;
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.125rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    width: 100%;
    bottom: calc(50% - 0.125rem);
    transform: rotate(45deg);
  }
}
@media (max-width: 22.5em) {
  .icon-menu {
    margin-left: 1.361875rem;
  }
}

* h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 1.4285714286;
}
@media (max-width: 80em) {
  * h1 {
    font-size: 2.875rem;
    line-height: 1.4130434783;
  }
}
@media (max-width: 22.5em) {
  * h1 {
    font-size: 1.625rem;
    line-height: 150%;
  }
}
* h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3333333333;
}
@media (max-width: 80em) {
  * h2 {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}
@media (max-width: 22.5em) {
  * h2 {
    font-size: 1.5rem;
    line-height: 150%;
  }
}
* h5 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
}
@media (max-width: 80em) {
  * h5 {
    font-size: 1.25rem;
  }
}
@media (max-width: 22.5em) {
  * h5 {
    font-size: 1.125rem;
  }
}

.courses {
  position: relative;
  padding-top: 11.25rem;
}
@media (max-width: 80em) {
  .courses {
    padding-top: 10.25rem;
  }
}
@media (max-width: 48em) {
  .courses {
    padding-top: 8.9375rem;
  }
}
@media (max-width: 22.5em) {
  .courses {
    padding-top: 6.9375rem;
  }
}
.courses__decor-one {
  z-index: 2;
  position: absolute;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.8) 0.87%, rgba(221, 81, 212, 0.8) 112.89%);
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@supports (top: clamp( -12.375rem , 7.875rem  +  -16.875vw , -5.625rem )) {
  .courses__decor-one {
    top: clamp( -12.375rem , 7.875rem  +  -16.875vw , -5.625rem );
  }
}
@supports not (top: clamp( -12.375rem , 7.875rem  +  -16.875vw , -5.625rem )) {
  .courses__decor-one {
    top: calc(-5.625rem + -6.75 * (100vw - 80rem) / 40);
  }
}
@supports (left: clamp( -42.625rem , 5.9375rem  +  -40.46875vw , -26.4375rem )) {
  .courses__decor-one {
    left: clamp( -42.625rem , 5.9375rem  +  -40.46875vw , -26.4375rem );
  }
}
@supports not (left: clamp( -42.625rem , 5.9375rem  +  -40.46875vw , -26.4375rem )) {
  .courses__decor-one {
    left: calc(-26.4375rem + -16.1875 * (100vw - 80rem) / 40);
  }
}
@supports (width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one {
    width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem );
  }
}
@supports not (width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one {
    width: calc(27.125rem + 20.5625 * (100vw - 80rem) / 40);
  }
}
@supports (height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one {
    height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem );
  }
}
@supports not (height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one {
    height: calc(27.125rem + 20.5625 * (100vw - 80rem) / 40);
  }
}
.courses__decor-one::before {
  content: "";
  position: absolute;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.2) 0.87%, rgba(221, 81, 212, 0.2) 112.89%);
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@supports (top: clamp( 0.3125rem , -1.5625rem  +  2.34375vw , 1.25rem )) {
  .courses__decor-one::before {
    top: clamp( 0.3125rem , -1.5625rem  +  2.34375vw , 1.25rem );
  }
}
@supports not (top: clamp( 0.3125rem , -1.5625rem  +  2.34375vw , 1.25rem )) {
  .courses__decor-one::before {
    top: calc(0.3125rem + 0.9375 * (100vw - 80rem) / 40);
  }
}
@supports (left: clamp( -1.25rem , 0.625rem  +  -1.5625vw , -0.625rem )) {
  .courses__decor-one::before {
    left: clamp( -1.25rem , 0.625rem  +  -1.5625vw , -0.625rem );
  }
}
@supports not (left: clamp( -1.25rem , 0.625rem  +  -1.5625vw , -0.625rem )) {
  .courses__decor-one::before {
    left: calc(-0.625rem + -0.625 * (100vw - 80rem) / 40);
  }
}
@supports (width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one::before {
    width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem );
  }
}
@supports not (width: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one::before {
    width: calc(27.125rem + 20.5625 * (100vw - 80rem) / 40);
  }
}
@supports (height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one::before {
    height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem );
  }
}
@supports not (height: clamp( 27.125rem , -14rem  +  51.40625vw , 47.6875rem )) {
  .courses__decor-one::before {
    height: calc(27.125rem + 20.5625 * (100vw - 80rem) / 40);
  }
}
.courses__decor-two {
  z-index: 2;
  position: absolute;
  top: 24rem;
  right: calc(-46.25rem + 1.375rem);
  width: 46.25rem;
  height: 46.25rem;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.8) 0.87%, rgba(221, 81, 212, 0.8) 112.89%);
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.courses__decor-two::before {
  content: "";
  position: absolute;
  top: 1.213125rem;
  right: -1.213125rem;
  width: 47.6875rem;
  height: 47.6875rem;
  background: linear-gradient(264.3deg, rgba(124, 78, 171, 0.2) 0.87%, rgba(221, 81, 212, 0.2) 112.89%);
  border-radius: 50%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media (max-width: 80em) {
  .courses__decor-two {
    display: none;
  }
}
.card-body {
  display: flex;
  gap: 1.875rem;
}
@media (max-width: 104.375em) {
  .card-body {
    margin-left: 1.5625rem;
  }
}
@media (max-width: 48em) {
  .card-body {
    gap: 1.625rem;
    margin-left: 0;
  }
}
@media (max-width: 22.5em) {
  .card-body__content {
    margin-top: -1.25rem;
  }
}
.card-body__title {
  margin-bottom: 1.375rem;
}
@media (max-width: 80em) {
  .card-body__title {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 48em) {
  .card-body__title {
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 22.5em) {
  .card-body__title {
    margin-bottom: 1.125rem;
  }
}
@media (max-width: 40.625em) {
  .card-body__title {
    font-size: 1.875rem;
    max-width: 61.2%;
  }
  @supports (font-size: clamp( 1.625rem , 1.3146551724rem  +  1.3793103448vw , 1.875rem )) {
    .card-body__title {
      font-size: clamp( 1.625rem , 1.3146551724rem  +  1.3793103448vw , 1.875rem );
    }
  }
  @supports not (font-size: clamp( 1.625rem , 1.3146551724rem  +  1.3793103448vw , 1.875rem )) {
    .card-body__title {
      font-size: calc(1.625rem + 0.25 * (100vw - 22.5rem) / 18.125);
    }
  }
}
.card-body__title span {
  color: #CF51CE;
}
.card-body__sell {
  display: flex;
  gap: 1.5625rem;
  margin-bottom: 1rem;
}
@media (max-width: 80em) {
  .card-body__sell {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 48em) {
  .card-body__sell {
    margin-bottom: 1rem;
  }
}
.card-body__icon svg {
  width: 3rem;
  height: 3rem;
}
.card-body__price {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.45;
  gap: 0.625rem;
}
.card-body__price span {
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1.4473684211;
  color: #CF51CE;
}
.card-body__price svg {
  width: 1.0625rem;
  height: 1.375rem;
}
.card-body__text {
  max-width: calc(100% - 12px);
}
@media (max-width: 80em) {
  .card-body__text {
    max-width: 100%;
  }
}
.card-body__text p {
  font-size: 1.5625rem;
  line-height: 160%;
  color: rgba(50, 26, 46, 0.8);
}
.card-body__text p:not(:last-child) {
  display: inline-block;
  margin-bottom: 0.9375rem;
}
@media (max-width: 80em) {
  .card-body__text p {
    font-size: 1.25rem;
  }
}
@media (max-width: 22.5em) {
  .card-body__text p {
    font-size: 1.125rem;
  }
  .card-body__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.card-body__image-ibg {
  margin-top: 2.625rem;
  min-width: 38.75rem;
  height: 35.1875rem;
}
@supports (min-width: clamp( 28.625rem , 8.375rem  +  25.3125vw , 38.75rem )) {
  .card-body__image-ibg {
    min-width: clamp( 28.625rem , 8.375rem  +  25.3125vw , 38.75rem );
  }
}
@supports not (min-width: clamp( 28.625rem , 8.375rem  +  25.3125vw , 38.75rem )) {
  .card-body__image-ibg {
    min-width: calc(28.625rem + 10.125 * (100vw - 80rem) / 40);
  }
}
@supports (height: clamp( 26rem , 7.625rem  +  22.96875vw , 35.1875rem )) {
  .card-body__image-ibg {
    height: clamp( 26rem , 7.625rem  +  22.96875vw , 35.1875rem );
  }
}
@supports not (height: clamp( 26rem , 7.625rem  +  22.96875vw , 35.1875rem )) {
  .card-body__image-ibg {
    height: calc(26rem + 9.1875 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 80em) {
  @supports (margin-right: clamp( -11.5625rem , -28.90625rem  +  36.1328125vw , 0rem )) {
    .card-body__image-ibg {
      margin-right: clamp( -11.5625rem , -28.90625rem  +  36.1328125vw , 0rem );
    }
  }
  @supports not (margin-right: clamp( -11.5625rem , -28.90625rem  +  36.1328125vw , 0rem )) {
    .card-body__image-ibg {
      margin-right: calc(-11.5625rem + 11.5625 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 48em) {
  .card-body__image-ibg {
    min-width: 25.625rem;
    height: 25.625rem;
  }
}
@media (max-width: 40.625em) {
  .card-body__image-ibg {
    min-width: 15.3125rem;
    height: 15.3125rem;
    margin-right: -7.5rem;
    margin-top: -13.4375rem;
  }
}
@media (max-width: 22.5em) {
  @supports (margin-top: clamp( -14.375rem , -21.875rem  +  37.5vw , -13.4375rem )) {
    .card-body__image-ibg {
      margin-top: clamp( -14.375rem , -21.875rem  +  37.5vw , -13.4375rem );
    }
  }
  @supports not (margin-top: clamp( -14.375rem , -21.875rem  +  37.5vw , -13.4375rem )) {
    .card-body__image-ibg {
      margin-top: calc(-14.375rem + 0.9375 * (100vw - 20rem) / 2.5);
    }
  }
}
@media (max-width: 48em) {
  .card-body__stars {
    display: none;
  }
}
.card-body__superman {
  margin: -2.76625rem auto 0;
  max-width: 90.3225806452%;
  left: 0;
  right: 0;
}
@media (max-width: 80em) {
  .card-body__superman {
    left: none;
    max-width: 94.9781659389%;
    min-height: 27.1875rem;
    margin: -2.76625rem 0 0 auto;
  }
}
@media (max-width: 48em) {
  .card-body__superman {
    max-width: 25.625rem;
    min-height: 25.625rem;
  }
}
@media (max-width: 40.625em) {
  .card-body__superman {
    max-width: 15.3125rem;
    min-height: 15.3125rem;
    margin: 0 0 0 auto;
  }
}

@supports (padding-top: clamp( 4.8125rem , -5.6875rem  +  13.125vw , 10.0625rem )) {
  .history {
    padding-top: clamp( 4.8125rem , -5.6875rem  +  13.125vw , 10.0625rem );
  }
}
@supports not (padding-top: clamp( 4.8125rem , -5.6875rem  +  13.125vw , 10.0625rem )) {
  .history {
    padding-top: calc(4.8125rem + 5.25 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 48em) {
  .history {
    padding-top: 4.0625rem;
  }
}
@media (max-width: 22.5em) {
  .history {
    padding-top: 5.3125rem;
  }
}
.history__title {
  display: block;
  color: #331A2F;
  max-width: 52.75rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5.3125rem;
}
@media (max-width: 48em) {
  .history__title {
    margin-bottom: 5rem;
    line-height: 1.6;
  }
}
@media (max-width: 22.5em) {
  .history__title {
    margin-bottom: 3.125rem;
  }
}
.history__wrapper {
  margin: 0 6rem 0 7.125rem;
}
@media (max-width: 80em) {
  .history__wrapper {
    max-width: 62.1875rem;
    margin: 0 auto;
  }
}
@media (max-width: 56.25em) {
  @supports (gap: clamp( 0rem , 25.5681818182rem  +  -45.4545454545vw , 3.75rem )) {
    .history__wrapper {
      gap: clamp( 0rem , 25.5681818182rem  +  -45.4545454545vw , 3.75rem );
    }
  }
  @supports not (gap: clamp( 0rem , 25.5681818182rem  +  -45.4545454545vw , 3.75rem )) {
    .history__wrapper {
      gap: calc(3.75rem + -3.75 * (100vw - 48rem) / 8.25);
    }
  }
}
.history__body {
  display: flex;
  gap: 5rem;
}
@media (max-width: 56.25em) {
  .history__body {
    gap: 2.5rem;
  }
}
@media (max-width: 43.75em) {
  .history__body {
    flex-direction: column;
  }
}
@media (max-width: 56.25em) {
  .history__body_top {
    margin-bottom: 3.75rem;
  }
}
.history__body_bottom {
  flex-direction: row-reverse;
}
@media (max-width: 80em) {
  .history__body_bottom {
    gap: 3.4375rem;
  }
}
@media (max-width: 56.25em) {
  .history__body_bottom {
    gap: 2.5rem;
  }
}
@media (max-width: 43.75em) {
  .history__body_bottom {
    flex-direction: column;
  }
}
@media (max-width: 56.25em) {
  .history__img-ibg img {
    object-fit: contain;
  }
}
.history__img-ibg_top {
  padding-bottom: 35.5303030303%;
  flex: 0 0 34.5454545455%;
}
@media (max-width: 43.75em) {
  .history__img-ibg_top {
    padding-bottom: 52.2641509434%;
    flex: 0 0 75%;
    margin: 0 6.25rem;
  }
}
@media (max-width: 31.25em) {
  .history__img-ibg_top {
    margin: 0 1.875rem;
    padding-bottom: 83.9393939394%;
    flex: 0 0 75%;
  }
}
.history__img-ibg_bottom {
  padding-bottom: 35.9090909091%;
  flex: 0 0 35.9090909091%;
}
@media (max-width: 43.75em) {
  .history__img-ibg_bottom {
    padding-bottom: 52.2641509434%;
    flex: 0 0 75%;
    margin: 0 6.25rem;
  }
}
@media (max-width: 31.25em) {
  .history__img-ibg_bottom {
    margin: 0 1.875rem;
    padding-bottom: 83.9393939394%;
    flex: 0 0 75%;
  }
}
.history__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.9375rem;
}
.history__text {
  line-height: 160%;
}
@supports (font-size: clamp( 1.25rem , 0.625rem  +  0.78125vw , 1.5625rem )) {
  .history__text {
    font-size: clamp( 1.25rem , 0.625rem  +  0.78125vw , 1.5625rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.625rem  +  0.78125vw , 1.5625rem )) {
  .history__text {
    font-size: calc(1.25rem + 0.3125 * (100vw - 80rem) / 40);
  }
}

.teach {
  padding-top: 8.75rem;
  padding-bottom: 8.125rem;
}
@media (max-width: 80em) {
  .teach {
    padding-bottom: 7.625rem;
  }
}
@media (max-width: 48em) {
  .teach {
    padding-top: 7.5rem;
    padding-bottom: 5.3125rem;
  }
}
@media (max-width: 22.5em) {
  .teach {
    padding-top: 6.25rem;
    padding-bottom: 4.3125rem;
  }
}
.teach__head {
  max-width: 53rem;
  margin: 0 auto 5.3125rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 80em) {
  .teach__head {
    max-width: 42.75rem;
  }
}
@media (max-width: 48em) {
  .teach__head {
    margin-bottom: 5rem;
  }
}
@media (max-width: 22.5em) {
  .teach__head {
    margin-bottom: 3.125rem;
  }
}
.teach__title {
  color: #331A2F;
  margin-bottom: 1.4375rem;
}
.teach__title span {
  position: relative;
  display: inline-block;
}
.teach__title span::before {
  content: "";
  position: absolute;
  bottom: -0.4375rem;
  left: 0;
  width: 100%;
  height: 0.4375rem;
  background: linear-gradient(264.91deg, #7C4EAB 0.73%, #DD51D4 95.85%);
  border-radius: 5px;
  transition: width 0.3s ease 0s;
}
.teach__title span b {
  color: #CF51CE;
}
@media (max-width: 80em) {
  .teach__title {
    margin-bottom: 1.875rem;
    max-width: 40.125rem;
  }
  .teach__title span::before {
    height: 0.375rem;
  }
}
@media (max-width: 48em) {
  .teach__title {
    margin-bottom: 1.375rem;
  }
}
@media (max-width: 22.5em) {
  .teach__title {
    margin-bottom: 1.5625rem;
  }
  .teach__title span::before {
    height: 0.25rem;
  }
}
.teach__subtitle {
  font-size: 1.5625rem;
  line-height: 160%;
}
@media (max-width: 80em) {
  .teach__subtitle {
    font-size: 1.249925rem;
  }
}
@media (max-width: 22.5em) {
  .teach__subtitle {
    font-size: 1.125rem;
  }
}
.advantages-teach {
  display: flex;
  gap: 7.6875rem;
}
@supports (gap: clamp( 5.5rem , 1.125rem  +  5.46875vw , 7.6875rem )) {
  .advantages-teach {
    gap: clamp( 5.5rem , 1.125rem  +  5.46875vw , 7.6875rem );
  }
}
@supports not (gap: clamp( 5.5rem , 1.125rem  +  5.46875vw , 7.6875rem )) {
  .advantages-teach {
    gap: calc(5.5rem + 2.1875 * (100vw - 80rem) / 40);
  }
}
@media (max-width: 80em) {
  @supports (gap: clamp( 3.75rem , 1.125rem  +  5.46875vw , 5.5rem )) {
    .advantages-teach {
      gap: clamp( 3.75rem , 1.125rem  +  5.46875vw , 5.5rem );
    }
  }
  @supports not (gap: clamp( 3.75rem , 1.125rem  +  5.46875vw , 5.5rem )) {
    .advantages-teach {
      gap: calc(3.75rem + 1.75 * (100vw - 48rem) / 32);
    }
  }
}
@media (max-width: 62.5em) {
  .advantages-teach {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 48em) {
  .advantages-teach {
    gap: 3.75rem;
    max-width: 35.625rem;
    margin: 0 auto;
  }
}
@media (max-width: 22.5em) {
  .advantages-teach {
    gap: 2.5rem;
  }
}
.advantages-teach__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 1 25%;
}
@media (max-width: 80em) {
  .advantages-teach__item:nth-child(2) svg {
    visibility: hidden;
  }
}
@media (max-width: 62.5em) {
  .advantages-teach__item {
    flex: 0 0 calc(50% - 60px);
  }
}
@media (max-width: 48em) {
  .advantages-teach__item {
    flex: 0 0 calc(50% - 30px);
  }
  .advantages-teach__item:nth-child(2) svg {
    visibility: visible;
  }
}
@media (max-width: 34.375em) {
  .advantages-teach__item {
    flex: 0 0 100%;
  }
}
.advantages-teach__icon {
  position: relative;
  box-shadow: 0px 4px 25px rgba(234, 93, 187, 0.25);
  border-radius: 0.75rem;
  max-width: 4.375rem;
  max-height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6875rem;
  margin-bottom: 1.875rem;
}
.advantages-teach__icon svg {
  z-index: 1;
}
.advantages-teach__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/teach/fone3.svg);
  background-size: 100%;
  z-index: 0;
}
@media (max-width: 80em) {
  .advantages-teach__icon {
    margin-bottom: 1.25rem;
    max-width: 3.75rem;
    max-height: 3.75rem;
  }
}
@media (max-width: 34.375em) {
  .advantages-teach__icon {
    align-self: center;
  }
}
.advantages-teach__title {
  color: #331A2F;
  margin-bottom: 0.9375rem;
}
@media (max-width: 80em) {
  .advantages-teach__title {
    margin-bottom: 0.625rem;
  }
}
.advantages-teach__text {
  font-size: 1.125rem;
  line-height: 160%;
}
@media (max-width: 80em) {
  .advantages-teach__text {
    font-size: 1rem;
  }
}
@media (max-width: 22.5em) {
  .advantages-teach__text {
    font-size: 1.125rem;
  }
}
